version: '3.8'
services:
  postgres:
    image: postgres:16-alpine 
    container_name: kpk_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "*!devina22!*"
      POSTGRES_DB: kpk_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - kpk_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: kpk_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - kpk_network
    command: redis-server --appendonly yes 
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  minio:
    image: minio/minio:latest
    container_name: kpoppick_minio
    environment:
      MINIO_ROOT_USER: miniokpk
      MINIO_ROOT_PASSWORD: miniokpk120
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - kpk_network
    command: server /minio_data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

volumes:
  postgres_data:
  redis_data:
  minio_data:

networks:
  kpk_network:
    driver: bridge